.notFound {
    margin-top: calc(50vh - 50px);
    display:flex;
    width: 100%;
    justify-content: center;
    color:#ffffff;
    font-family: inter;
    text-transform: uppercase;
    font-size: 16px;
}

.hidden {
    display:none;
}

.marketInfo {
    position: relative;
    background: url("https://i.seadn.io/gcs/files/d1e3528fa4ab3381609a18f482825b3a.gif");;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
    border-bottom: 1px solid #2a254d;
}

.marketInfo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, .25));
}

.marketInfoItem:not(:nth-child(2)) {
    border-left: 1px solid var(--borderColor);
}

.marketInfoItem {
    margin-top:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    z-index: +1;
}

.marketMeta {
    min-height:100px;
    width:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.marketMeta > :nth-child(2n) {
    position: relative;
    z-index: +1;
    width:calc(80% - 10%);
    border:1px solid #ffffff00;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-left:3%;
    margin-right:3%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inter;
    color:#ffffffd9;
    padding:5px;
}

.marketPfp {
    position: relative;
    z-index: +1;
    width: 60px;
    height: 60px;
    border: 1px solid var(--borderColor);
    padding-left:15px;
    border-radius: 50%;
    overflow: hidden;
}

.marketTitle {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.marketTitle:hover {
    overflow: visible;
}

.imgAndLinks {
    position: relative;
    z-index: +1;
    border: 1px solid #ffffff05;
    width:24%;
    padding-left:10px;
    display:flex;
    font-family: inter;
}

.imgAndLinks :first-child {
    font-size: 20px;
}

.imgAndLinks > :nth-child(2n) {
    font-size: 12px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:calc(100% - 85px);
}

@media only screen and (max-width: 1500px) {
    .marketTitle {
        margin: 10px;
    }
    .marketPfp {
        width: 100px;
        height: 100px;
        margin: 15px;
    }
    .imgAndLinks {
        width:100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
    .marketMeta > :nth-child(2n) {
        margin-bottom:15px;
        width:100%;
        font-size: 16px;
        text-align: center;
    }
    .marketInfoItem:nth-child(6) {
        border-left: none;
    }
  }

  @media only screen and (max-width: 1200px) {
    .marketMeta > :nth-child(2n) {
        font-size: 15px;
    }
    .marketInfoItem:nth-child(5) {
        border-left: none;
        border-right:1px solid var(--borderColor);
    }
  }

  @media only screen and (max-width: 900px) {
    .marketMeta > :nth-child(2n) {
        font-size: 14px;
    }
    .marketInfoItem:nth-child(4) {
        border-right: none;
        border-left: none;
    }

    .marketInfoItem:nth-child(5) {
        border-right: none;
        border-left:1px solid var(--borderColor);
    }
  }

  @media only screen and (max-width: 600px) {
    .marketMeta > :nth-child(2n) {
        font-size: 13px;
    }
    .marketInfoItem:nth-child(3) {
        border-left: none;
    }

    .marketInfoItem:nth-child(4) {
        border-right: none;
    }

    .marketInfoItem:nth-child(5) {
        border-left: none;
    }
  }

.marketInfoItem p {
    font-family: inter;
    color: #ffffff58;
    font-size: 12px;
}

.marketInfoItem h1 {
    color:#ffffffca;
    font-size: 16px;
    font-family: inter;
}

.viewSwitcher {
    justify-content: center;
    text-transform: uppercase;
    height:42.0px;
    background-color: var(--transparentBackgroundColor);
    border-bottom: 1px solid var(--borderColor);
    width:100%;
}

.viewSwitcher div{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left:50px;
    padding-right:50px;
}

.viewSwitcher svg{
    width:25px;
}

.viewActive {
    color:#b9bffb;
    background-color: #98e1e211;
    border-bottom:3px solid #b9bffb;
}

.itemCont {
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    opacity: 0.9;
    overflow: hidden;
    border-radius: 10px;
    margin:5px;
    border:1px solid var(--borderColor);
    background-color: var(--foregroundColor);
    width:195px;
    height:250px;
    cursor: pointer;
}

.item:hover {
    border:1px solid var(--borderHoverColor);
    opacity: 1;
}

.itemImage {
    width:195px;
    height: 195px;
}

.modalWrapper {
    position: fixed;
    z-index: 10;
    top:50px;
    left:0;
    height:100vh;
    width:100vw;
    background-color: var(--transparentBackgroundColor);
    backdrop-filter: blur(20px);
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.modalContainer {
    margin-top: -50px;
    overflow: hidden;
    width:650px;
    background-color: var(--foregroundColor);
    border: var(--borderColor) 1px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.modalImage {
    position: relative;
    height:300px;
    width:300px;
}

.stats {
    margin-top: 10px;
    display:inline-block;
    width:348px;
    font-family: inter;
}

.attributes {
    padding: 5px;
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 348px;
    height: 100px;
    flex: 1 1;
    flex-wrap: wrap;
    overflow-y: scroll;
    border-top: 1px solid var(--borderColor);
}

.attributes input[type="text"]
{
    letter-spacing: 2px;
    height:50px;
    margin:2px;
    width: 100%;
    margin-left:35%;
    margin-right:35%;
    font-size: 20px;
    text-align: center;
    font-family: inter;
    color:#ffffff;
    background: rgba(54, 54, 54, 0.144);
    border-bottom: #ffffff2d 1px solid;
    border-top:none;
    border-left:none;
    border-right:none;
}

.attribute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 100px;
    height: 40px;
    color:#ffffffb4;
    background-color: var(--backgroundColor);
    border-radius: 10px;
    font-family: inter;
    font-weight:lighter;
    font-size: 12px;
    text-align: center;
}

.attribute .traitValue {
    color:#ffffff;
}

.statCol {
    height:300px;
}

.statKey {
    color:#ffffffe5;
    margin-left: 10px;
    float: left;
}

.statValue {
    margin-right: 10px;
    float: right;
    color: var(--buttonColor)
}

.priceStat {
    margin-right: 10px;
    float: right;
    color: var(--theEther)
}

.buyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width:100%;
    height:50px;
    background-color: var(--buttonColor);
    font-family: inter;
    cursor: pointer;
    opacity:0.9;
}

.buyButton:hover {
    opacity: 1;
}

.walletItemButton {
    display:flex;
    justify-content: center;
    align-items: center;
    height:55px;
    width:100%;
    font-family: inter;
    background-color: var(--buttonColor);
}

.thirdButton {
    cursor: pointer;
    opacity:0.9;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: inter;
    width: 33.33%;
    height:50px;
}

.thirdButton:hover {
    opacity:1;
}

.etherButton {
    background-color: var(--theEther);
    color: var(--backgroundColor);
    cursor: pointer;
    opacity:0.9;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: inter;
    width:30%;
    height:40px;
}

.etherButton:hover {
    opacity:1
}

.disabledButton {
    background-color: #696969;
}

.disabledButton:hover {
    cursor:not-allowed;
    opacity:0.9
}

.priceTag {
    margin-top: -5px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:55px;
    width:100%;
    font-family: inter;
    background-color: var(--buttonColor);
}

.priceTag svg {
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    width:25px;
}

.priceTag div {
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:5px;
    font-family: inter;
}

.infoStrip {
    color: #ffffffce;
    font-family: inter;
    font-size: 12px;
    width:100%;
    text-align: center;
}

.krabbyPattyForumlar {
    color: #b9bffb;
    font-family: inter;
    font-size: 13px;
    width:100%;
    text-align: center;
}

@media only screen and (max-width: 650px) {

    .modalImage {
        height:280px;
        width:280px;
    }

    .modalContainer {
        width:280px;
    }

    .stats {
        width:280px;
    }
    
    .attributes {
        height:200px;
        width:280px;
    }
  }




