.notFound {
    margin-top: calc(50vh - 50px);
    display:flex;
    width: 100%;
    justify-content: center;
    color:#ffffff;
    font-family: inter;
    text-transform: uppercase;
    font-size: 16px;
}

.hidden {
    display:none;
}

.marketInfo {
    background-color: var(--transparentBackgroundColor);
    border-bottom: 1px solid #ffffff20;
}

.viewSwitcher {
    justify-content: center;
    text-transform: uppercase;
    height:42.0px;
    background-color: var(--transparentBackgroundColor);
    border-bottom: 1px solid #ffffff20;
    width:100%;
}

.viewSwitcher div{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left:50px;
    padding-right:50px;
}

.viewSwitcher svg{
    width:25px;
}

.viewActive {
    color:#b9bffb;
    background-color: #98e1e211;
    border-bottom:3px solid #b9bffb;
}

.itemCont {
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    opacity: 0.9;
    overflow: hidden;
    border-radius: 10px;
    margin:5px;
    border:1px solid var(--borderColor);
    background-color: var(--foregroundColor);
    width:195px;
    height:250px;
    cursor: pointer;
}

.item:hover {
    border:1px solid var(--borderHoverColor);
    opacity: 1;
}

.itemImage {
    width:195px;
    height: 195px;
}

.modalWrapper {
    position: fixed;
    z-index: 10;
    top:50px;
    left:0;
    height:100vh;
    width:100vw;
    background-color: var(--transparentBackgroundColor);
    backdrop-filter: blur(20px);
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.modalContainer {
    margin-top: -50px;
    overflow: hidden;
    width:650px;
    background-color: var(--foregroundColor);
    border: var(--borderColor) 1px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.modalImage {
    position: relative;
    height:300px;
    width:300px;
}

.stats {
    margin-top: 10px;
    display:inline-block;
    width:348px;
    font-family: inter;
}

.attributes {
    padding: 5px;
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 348px;
    height: 100px;
    flex: 1 1;
    flex-wrap: wrap;
    overflow-y: scroll;
    border-top: 1px solid var(--borderColor);
}

.attributes input[type="text"]
{
    letter-spacing: 2px;
    height:50px;
    margin:2px;
    width: 100%;
    margin-left:35%;
    margin-right:35%;
    font-size: 20px;
    text-align: center;
    font-family: inter;
    color:#ffffff;
    background: rgba(54, 54, 54, 0.144);
    border-bottom: #ffffff2d 1px solid;
    border-top:none;
    border-left:none;
    border-right:none;
}

.attribute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 100px;
    height: 40px;
    color:#ffffffb4;
    background-color: var(--backgroundColor);
    border-radius: 10px;
    font-family: inter;
    font-weight:lighter;
    font-size: 12px;
    text-align: center;
}

.attribute .traitValue {
    color:#ffffff;
}

.statCol {
    height:300px;
}

.statKey {
    color:#ffffffe5;
    margin-left: 10px;
    float: left;
}

.statValue {
    margin-right: 10px;
    float: right;
    color: var(--buttonColor)
}

.priceStat {
    margin-right: 10px;
    float: right;
    color: var(--theEther)
}

.buyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width:100%;
    height:50px;
    background-color: var(--buttonColor);
    font-family: inter;
    cursor: pointer;
    opacity:0.9;
}

.buyButton:hover {
    opacity: 1;
}

.walletItemButton {
    display:flex;
    justify-content: center;
    align-items: center;
    height:55px;
    width:100%;
    font-family: inter;
    background-color: var(--buttonColor);
}

.thirdButton {
    cursor: pointer;
    opacity:0.9;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: inter;
    width: 33.33%;
    height:50px;
}

.thirdButton:hover {
    opacity:1;
}

.etherButton {
    background-color: var(--theEther);
    color: var(--backgroundColor);
    cursor: pointer;
    opacity:0.9;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: inter;
    width:30%;
    height:40px;
}

.etherButton:hover {
    opacity:1
}

.disabledButton {
    background-color: #696969;
}

.disabledButton:hover {
    cursor:not-allowed;
    opacity:0.9
}

.priceTag {
    margin-top: -5px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:55px;
    width:100%;
    font-family: inter;
    background-color: var(--buttonColor);
}

.priceTag svg {
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    width:25px;
}

.priceTag div {
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:5px;
    font-family: inter;
}

.infoStrip {
    color: #ffffffce;
    font-family: inter;
    font-size: 12px;
    width:100%;
    text-align: center;
}

.krabbyPattyForumlar {
    color: #b9bffb;
    font-family: inter;
    font-size: 13px;
    width:100%;
    text-align: center;
}

@media only screen and (max-width: 650px) {

    .modalImage {
        height:280px;
        width:280px;
    }

    .modalContainer {
        width:280px;
    }

    .stats {
        width:280px;
    }
    
    .attributes {
        height:200px;
        width:280px;
    }
  }